@config "../../tailwind.config.js";  
@import "tailwindcss";
@plugin '@tailwindcss/typography';

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(244, 114, 182); 
  border-radius: 9999px; 
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(244, 114, 182, 0.8); 
}

html {
  scrollbar-color: rgba(244, 114, 182, 0.5) transparent; 
  scrollbar-width: thin;
}

@theme inline {
    --shadow-aceternity:
    0px 2px 3px -10px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

    --shadow-section: rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;

    --shadow-section-inset: 0px 1px 4px 0px var(--color-neutral-100) inset, 0px -1px 4px 0px var(--color-neutral-100) inset;

    --color-primary: var(--color-neutral-800);
    --color-secondary: var(--color-neutral-500);

      --shadow-pink: 0 4px 6px -1px rgb(157 23 77 / 0.5), 0 2px 4px -2px rgb(157 23 77 / 0.3);

    --border-hover-color: #f9a8d4;

    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    --bg-mobile-menu-light: radial-gradient(circle,rgba(252, 231, 243, 1) 0%, rgba(255, 255, 255, 1) 100%)
}

  .pink-shadow-theme {
    --shadow-color-rgb: 249 168 212;
  }


.dark {
  --color-primary: white;
  --color-secondary: var(--color-neutral-300);

  --shadow-aceternity:
    0px 2px 3px -10px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.02),
    0px 0px 0px 1px rgba(255, 255, 255, 0.08);

  --shadow-section-inset: 0px 1px 4px 0px var(--color-neutral-950) inset, 0px -1px 4px 0px var(--color-neutral-950) inset;

  --shadow-section: 
    rgba(255, 255, 255, 0.06) 0px 0px 24px, rgba(255, 255, 255, 0.05) 0px 1px 1px,
    rgba(255, 255, 255, 0.04) 0px 0px 0px 1px, rgba(255, 255, 255, 0.08) 0px 0px 4px,
    rgba(255, 255, 255, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;

  --shadow-sm: 0 1px 2px 0 rgb(255 255 255 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(255 255 255 / 0.1), 0 2px 4px -2px rgb(255 255 255 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(255 255 255 / 0.15);

   --border-hover-color: #831843;

  --bg-mobile-menu-dark:  radial-gradient(circle,rgba(46, 23, 29, 1) 0%, rgba(23, 23, 23, 1) 100%);

  pink-shadow-theme {
    --shadow-color-rgb: 157 23 77;
  }

  ::selection {
   background-color: var(--color-pink-900);
   color: var(--color-pink-200);  
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(190, 24, 93);
  }
}

::selection {
  background-color: var(--color-pink-200); 
  color: var(--color-pink-900)
}